<style>
  .breadcrumbs {
    background-color: #fff;
    padding: 36px var(--padding-sides) 24px;
  }

  .breadcrumbs__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 24px;
    align-items: center;
  }

  .breadcrumbs .page-width {
    padding: 0 var(--padding-sides);
  }

  .breadcrumbs__item,
  .breadcrumbs__link {
    display: inline-block;
    font-family: "faktum";
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    text-align: left;
    color: rgba(161, 173, 175, 1);
    text-decoration: none;
    position: relative;
  }

  .breadcrumbs__item:not(:last-child):after {
    width: 8px;
    height: 8px;
    content: '';
    background: url("{{ 'breadcrumb-divider.svg' | asset_url }}");
    position: absolute;
    top: 50%;
    right: -16px;
    transform: translateY(-50%);
  }


  .breadcrumbs__link[aria-current="page"] {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
  }

  .breadcrumbs__link[aria-current="page"]:hover,
  .breadcrumbs__link[aria-current="page"]:focus {
    text-decoration: underline;
  }

  @media (max-width: 1600px) {
    .breadcrumbs .page-width {
      padding: 0 var(--padding-sides);
    }
  }

  @media (max-width: 992px) {
    .breadcrumbs .page-width {
      padding: 0 var(--padding-sides);
    }
  }
</style>

{%- if template.name == 'product' or template.name == 'collection' -%}
  {%- assign t = template | split: '.' | first -%}
  <nav
    class="breadcrumbs page-width"
    role="navigation"
    aria-label="breadcrumbs">
    <div class="">
      <ol class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="/">Home</a>
        </li>
        {%- case t -%}
          {%- when 'page' -%}
            <li class="breadcrumbs__item">
              <a
                class="breadcrumbs__link"
                href="{{ page.url }}"
                aria-current="page">{{ page.title }}</a>
            </li>
          {%- when 'product' -%}
            {%- if collection.url -%}
              <li class="breadcrumbs__item">
                {{ collection.title | link_to: collection.url }}
              </li>
            {%- endif -%}
            <li class="breadcrumbs__item">
              <a
                class="breadcrumbs__link"
                href="{{ product.url }}"
                aria-current="page">{{ product.title }}</a>
            </li>
          {%- when 'collection' and collection.handle -%}
            {%- if current_tags -%}
              <li class="breadcrumbs__item">
                {{ collection.title | link_to: collection.url }}
              </li>
              <li class="breadcrumbs__item">
                {%- capture tag_url -%}{{ collection.url }}/{{ current_tags | join: "+" }}{%- endcapture -%}
                <a
                  class="breadcrumbs__link"
                  href="{{ tag_url }}"
                  aria-current="page">{{ current_tags | join: " + " }}</a>
              </li>
            {%- else -%}
              <li class="breadcrumbs__item">
                <a
                  class="breadcrumbs__link"
                  href="{{ collection.url }}"
                  aria-current="page">{{ collection.title }}</a>
              </li>
            {%- endif -%}
          {%- when 'blog' -%}
            {%- if current_tags -%}
              <li class="breadcrumbs__item">
                {{ blog.title | link_to: blog.url }}
              </li>
              <li class="breadcrumbs__item">
                {%- capture tag_url -%}{{ blog.url }}/tagged/{{ current_tags | join: "+" }}{%- endcapture -%}
                <a
                  class="breadcrumbs__link"
                  href="{{ tag_url }}"
                  aria-current="page">{{ current_tags | join: " + " }}</a>
              </li>
            {%- else -%}
              <li class="breadcrumbs__item">
                <a
                  class="breadcrumbs__link"
                  href="{{ blog.url }}"
                  aria-current="page">{{ blog.title }}</a>
              </li>
            {%- endif -%}
          {%- when 'article' -%}
            <li class="breadcrumbs__item">
              {{ blog.title | link_to: blog.url }}
            </li>
            <li class="breadcrumbs__item">
              <a
                class="breadcrumbs__link"
                href="{{ article.url }}"
                aria-current="page">{{ article.title }}</a>
            </li>
          {%- else -%}
            <li class="breadcrumbs__item">
              <a
                class="breadcrumbs__link"
                href="{{ request.path }}"
                aria-current="page">{{ page_title }}</a>
            </li>
        {%- endcase -%}
      </ol>
    </div>
  </nav>

{%- endif -%}