<div class="global__product-card" data-product-id="{{ product.id }}">
  <a href="{{ product.url }}" class="link link--absolute"></a>
  <div class="global__product-card-top">
    <div class="global__product-card-img-container">
      <div>
        {% if product.featured_image != blank %}
          {% if product.selected_or_first_available_variant.featured_image != blank %}
            <img
              class="global__product-card-img"
              src="{{ product.selected_or_first_available_variant.featured_image | image_url: width: '600', height: '600' }}"
              alt="{{ product.selected_or_first_available_variant.featured_image.alt | escape }}"
              width="600"
              height="600"
              loading="lazy"
            >
          {% else %}
            <img
              class="global__product-card-img"
              src="{{ product.featured_image | image_url: width: '600', height: '600' }}"
              alt="{{ product.featured_image.alt | escape }}"
              width="600"
              height="600"
              loading="lazy"
            >
          {% endif %}

        {% else %}
          {{ 'product-1' | placeholder_svg_tag }}
        {% endif %}
      </div>
    </div>
    {% if product.vendor %}
      {% assign vendor_name = product.vendor | strip | downcase %}
      {% if shop.metaobjects.brand[vendor_name].logo %}
        {% assign image = shop.metaobjects.brand[vendor_name].logo %}
        <img
          class="global__product-card-logo"
          width="{{ image.width }}"
          height="{{ image.height }}"
          loading="lazy"
          src="{{ image | image_url: width: image.width, height: image.height }}"
          alt=""
        >
      {% endif %}
    {% endif %}

    <p class="global__product-card-title">
      {{ product.title }}
    </p>
  </div>

  <div class="global__product-card-information">
    {% assign color_option_index = -1 %}
    {% for option in product.options_with_values %}
      {% if option.name == 'Color' %}
        {% assign color_option_index = forloop.index0 %}
        {% break %}
      {% endif %}
    {% endfor %}
    <variant-selector
  class="variant-selector {% if product.variants.size > 7 %}glide{% else %}variant-icons{% endif %}"
>
    {% if color_option_index != -1 %}
      {% assign displayed_colors = '' %}
      
      {% assign available_valid_variants_for_this_product = 0 %}
      {% for variant in product.variants %}
        {% assign color = variant.options[color_option_index] %}     
          {% if variant.available and color != blank %}
            {% assign available_valid_variants_for_this_product = available_valid_variants_for_this_product | plus: 1 %}
          {% endif %}
        {% endfor %}
        {% if available_valid_variants_for_this_product > 7 %}
          <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
        {% else %}
          <div class="variant-items">
        {% endif %}
        {% for variant in product.variants %}
          {% assign color = variant.options[color_option_index] %}
         
          {% if variant.available and color != blank %}

            {% unless displayed_colors contains color %}
              {% assign displayed_colors = displayed_colors | append: color | append: ',' %}
              {% assign variant_image = variant.featured_image | default: product.featured_image %}
              {% assign variant_image_url = variant_image | image_url: width: 150 %}
              {% assign main_variant_image_url = variant_image | image_url: width: 600 %}

              {% assign variant_url = product.url | append: '?variant=' | append: variant.id %}
              {% if available_valid_variants_for_this_product > 7 %}
                <li class="glide__slide">
              {% endif %}
              {% if variant_image_url != blank %}
                <div
                  class="variant-item"
                  data-variant-id="{{ variant.id }}"
                  data-variant-url="{{ variant_url }}"
                  data-variant-image="{{ main_variant_image_url }}"
                >
                  <img
                    width="150"
                    height="150"
                    loading="lazy"
                    src="{{ variant_image_url }}"
                    alt="{{ color }}"
                    class="
                      variant-icon {% if variant.id == product.selected_or_first_available_variant.id %}
                          active
                      {% endif %}
                    "
                  >
                </div>
              {% endif %}
              {% if available_valid_variants_for_this_product > 7 %}
                </li>
              {% endif %}
            {% endunless %}
          {% endif %}
        {% endfor %}
        {% if available_valid_variants_for_this_product > 7 %}
          </ul>
          </div>
        {% else %}
          </div>
        {% endif %}
      {% endif %}
      </variant-selector>

    <div class="global__product-card-footer">
      <div class="global__product-card-review">
        <span>
          {% for i in (1..5) %}
            {% render 'naperee__review-star' %}
          {% endfor %}
        </span>
        <span>({{ product.metafields.yotpo.reviews_count | default: 0 }} reviews)</span>
      </div>
      <div class="global__product-card-price">
        {% render 'price',
        product: product,
        show_compare_at_price: false,
        use_variant: true,
        price_class: 'global__product-price-container',
        product_card: true
      %}
        
      </div>
    </div>
    <div class="card__information-add-to-cart">
    {% assign assign product_form_id = 'quick-add-' | append: section_id | append: product.id %}
    {%- assign button_label = "View options" -%}
    {% if product.has_only_default_variant %}
      {%- assign button_label = "Add to cart" -%}
      {% render 'buy-buttons', product: product, product_form_id: product_form_id, section_id: section_id, button_label: button_label %}
    {% else %}
      {%- assign button_label = "View options" -%}
      <button style="width: 100%;" class="button button--primary" onclick="window.location.href = '{{ product.url }}';">
        {{ button_label }}
      </button>
    {% endif %}
  </div>
  </div>
</div>
