<div class="global__product-card" data-product-id="{{ product.id }}">
  <a href="{{ product.url }}" class="link link--absolute"></a>
  <div class="global__product-card-top">
    <div class="global__product-card-img-container">
      <div>
        <img
          class="global__product-card-img"
          src="{{ product.featured_image | image_url: width: '600', height: '600' }}"
          alt="{{ product.featured_image.alt | escape }}"
          width="600"
          height="600"
          loading="lazy"
        >
      </div>
    </div>
    {% if product.vendor %}
      {% assign vendor_name = product.vendor | strip | downcase %}
      {% if shop.metaobjects.brand[vendor_name].logo %}
        {% assign image = shop.metaobjects.brand[vendor_name].logo %}
        <img
          class="global__product-card-logo"
          width="{{ image.width }}"
          height="{{ image.height }}"
          loading="lazy"
          src="{{ image | image_url: width: image.width, height: image.height }}"
          alt=""
        >
      {% endif %}
    {% endif %}

    <p class="global__product-card-title">
      {% assign split_product_title = product.title | split: ' ' %}
      {% for word in split_product_title %}
        {{ word }}
        {% if forloop.index == 10 %}
          {% break %}
        {% endif %}
      {% endfor %}
      {% comment %} {{ product.title }} {% endcomment %}
    </p>
  </div>

  <div class="global__product-card-information">
    {% assign color_option_index = -1 %}
    {% for option in product.options_with_values %}
      {% if option.name == 'Color' %}
        {% assign color_option_index = forloop.index0 %}
        {% break %}
      {% endif %}
    {% endfor %}

    {% if color_option_index != -1 %}
      {% assign displayed_colors = '' %}
      <variant-selector
        class="variant-selector {% if product.variants.size > 7 %}glide{% else %}variant-icons{% endif %}"
      >
        {% if product.variants.size > 7 %}
          <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
        {% else %}
          <div class="variant-items">
        {% endif %}
        {% for variant in product.variants %}
          {% assign color = variant.options[color_option_index] %}
          {% if variant.available and color != blank %}
            {% unless displayed_colors contains color %}
              {% assign displayed_colors = displayed_colors | append: color | append: ',' %}
              {% assign variant_image = variant.featured_image | default: product.featured_image %}
              {% assign variant_image_url = variant_image | image_url: width: 150 %}
              {% assign variant_url = product.url | append: '?variant=' | append: variant.id %}
              {% if product.variants.size > 7 %}
                <li class="glide__slide">
              {% endif %}
              <div
                class="variant-item"
                data-variant-id="{{ variant.id }}"
                data-variant-url="{{ variant_url }}"
                data-variant-image="{{ variant_image_url }}"
              >
                <img
                  class="global__product-card-glide-image"
                  width="150"
                  height="150"
                  loading="lazy"
                  src="{{ variant_image_url }}"
                  alt="{{ color }}"
                  class="
                    variant-icon {% if variant.id == product.selected_or_first_available_variant.id %}
                        active
                    {% endif %}
                  "
                >
              </div>
              {% if product.variants.size > 7 %}
                </li>
              {% endif %}
            {% endunless %}
          {% endif %}
        {% endfor %}
        {% if product.variants.size > 7 %}
          </ul>
          </div>
        {% else %}
          </div>
        {% endif %}
      </variant-selector>
    {% endif %}

    <div class="global__product-card-footer">
      <div class="global__product-card-review">
        <span>
          {% for i in (1..5) %}
            {% render 'yellow-star' %}
          {% endfor %}
        </span>
        <span>(20 reviews)</span>
      </div>
      <div class="global__product-card-price">
        {% render 'price',
          product: product,
          show_compare_at_price: false,
          use_variant: true,
          price_class: 'global__product-price-container'
        %}
      </div>
    </div>
  </div>
</div>
