{% comment %} 
    USE: 
    {% 
        render "naptec__header-megamenu-desktop", parentClass: parentClass
    %}
{% endcomment %}

<section class="naptec__header-megamenu-desktop page-width {{ parentClass }}-megamenu">
  <div class="{{ parentClass }}-megamenu-left">
    <div class="{{ parentClass }}-megamenu-left-menu">
      <h3>
        {{ menu_1_title }}
      </h3>
      <ul>
        {% for link in menu_1.links %}
          <a href="{{ link.url }}">
            <li>{{ link.title }}</li>
          </a>
        {% endfor %}
      </ul>
    </div>
    <div class="{{ parentClass }}-megamenu-left-menu">
      <h3>
        {{ menu_2_title }}
      </h3>
      <ul>
        {% for link in menu_2.links %}
          <a href="{{ link.url }}">
            <li>{{ link.title }}</li>
          </a>
        {% endfor %}
      </ul>
    </div>
    <div class="{{ parentClass }}-megamenu-left-menu">
      <h3>
        {{ menu_3_title }}
      </h3>
      <ul>
        {% for link in menu_3.links %}
          <a href="{{ link.url }}">
            <li>{{ link.title }}</li>
          </a>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="{{ parentClass }}-megamenu-right">
    <a href="{{ right_url }}">
      <img 
        src="{{ right_image |  image_url: width: right_image.width }}" 
        alt="{{ right_image.alt }}"
        width="{{ right_image.width }}"
        height="{{ right_image.height }}"
        loading="lazy"
      >
      <h3>
        {{ right_label |  upcase }}
      </h3>
    </a>
  </div>
</section>

<style>
  .{{ parentClass }} {
    /* position: relative; */
  }
  .{{ parentClass }}:hover .{{ parentClass }}-megamenu {
    display: flex;
    opacity: 1;
    padding: 40px 60px;
  }
  .{{ parentClass }}-megamenu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 100px;
    top: 94px;
    background-color: rgba(7, 59, 67, 1);
    opacity: 0;
    border-top: .5px solid rgba(255, 255, 255, 1);
  }
  .{{ parentClass }} .space_filler {
    display: block;
    position: absolute;
    width: 80px;
    height: 100px;
    cursor: pointer;
  }
  .{{ parentClass }}-megamenu-left {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
  .{{ parentClass }}-megamenu-left-menu h3 {
    margin: 0;
    margin-bottom: 20px;
    font-family: "faktum";
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .{{ parentClass }}-megamenu-left-menu ul {
    list-style: none;
    display: flex;
    align-items: start;
    padding: 0;
    margin: 0;
    flex-direction: column;
  }
  .{{ parentClass }}-megamenu-left-menu ul li {
    cursor: pointer;
  }
  .{{ parentClass }}-megamenu-left-menu ul a {
    color: white;
    text-decoration: none;
    font-family: "faktum";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 12px;
  }
  .{{ parentClass }}-megamenu-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 135px;
  }
  .{{ parentClass }}-megamenu-right a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 248px;
  }
  .{{ parentClass }}-megamenu-right a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .{{ parentClass }}-megamenu-right a h3 {
    margin: 0;
    margin-top: 12px;
    font-family: "faktum";
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  @media screen and (max-width: 1350px) {
    .{{ parentClass }}-megamenu-right {
      margin-left: 100px;
    }
  }
  @media screen and (max-width: 1250px) {
    .{{ parentClass }}-megamenu-right {
      margin-left: 50px;
    }
  }
  @media screen and (max-width: 1150px) {
    .{{ parentClass }}-megamenu-right {
      max-width: 350px;
    }
  }
</style>
