{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  - update_url: {Boolean} whether or not to update url when changing variants. If false, the url isn't updated. Default: true (optional).
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- capture whole_sale_toggle -%}
    <div style="display: flex; flex-direction: column; flex: 1;">
      <div class="wholesale-retail-label" >
        {% assign counterpart_product = product.metafields.custom.wholesale_d2c.value %}
        {% assign justifyContent = "start" %}
        {% for tag in product.tags %}
          {% if tag == 'WHOLESALE_PRODUCT' %}
            {% assign justifyContent = "end" %}
          {% endif %}
        {% endfor %}
        <span>Retail</span>
        <a
          href="{{ counterpart_product.url }}"
          class="outerSwicth"
          data-pos="{{ justifyContent }}"
          style="display: flex; justify-content: {{ justifyContent }}; align-items: center; padding: 0 3px; width: 48px; height: 24px; border-radius: 100px; border: 1px solid rgba(161, 173, 175, 1); background: rgba(246, 247, 247, 1);">
          <div class="innerSwitch" style="display: flex; height: 18px; width: 18px; border-radius: 100%; background: rgba(20, 51, 56, 1);"></div>
        </a>
        <span class="wholesale-retail-label">Wholesale</span>
        <style>
          .wholesale-retail-label {
            font-family: "faktum";
            font-size: 18px;
            font-weight: 400;
            line-height: 1.4;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            display: flex; height: 100%; align-items: center; gap: 16px;
          }
          .quantity_pack_picker_wrapper {
            display: flex;
            flex-wrap: wrap;
          }
        </style>
      </div>
    </div>
    <style></style>
    <script>
              const container = document.querySelector('.outerSwicth');
              container.addEventListener("click", (event)=>{
                return;
                if(container.dataset.pos == "start"){
                  container.style.justifyContent = "end";
                  container.dataset.pos = "end"
                } else {
                  container.style.justifyContent = "start";
                  container.dataset.pos = "start"
                }
              })
    </script>
  {%- endcapture -%}
{%- if product.has_only_default_variant -%}
  {% if false %}
    {{ whole_sale_toggle }}
  {% endif %}
{% else %}
  <variant-selects
    id="variant-selects-{{ section.id }}"
    class="no-js-hidden variant-selects"
    data-section="{{ section.id }}"
    data-url="{{ product.url }}"
    {% if update_url == false %}
    data-update-url="false"
    {% endif %}
    {{ block.shopify_attributes }}>
    {% assign maxNumbOfOptions = 0 %}
    {% assign optionOrder = 2 %}
    {%- for option in product.options_with_values -%}
      {% if maxNumbOfOptions < option.values.size %}
        {% assign optionOrder = optionOrder | plus: 1 %}
        {% assign maxNumbOfOptions = option.values.size %}
      {% else %}
        {% assign optionOrder = optionOrder | minus: 1 %}
      {% endif %}
      {%- liquid
        assign swatch_count = option.values | map: 'swatch' | compact | size
        assign picker_type = block.settings.picker_type

        if swatch_count > 0 and block.settings.swatch_shape != 'none'
          if block.settings.picker_type == 'dropdown'
            assign picker_type = 'swatch_dropdown'
          else
            assign picker_type = 'swatch'
          endif
        endif
      -%}
      {%- if picker_type == 'swatch' -%}
        <fieldset class="js product-form__input product-form__input--swatch">
          <legend class="form__label">
            {{ option.name }}:
            <span data-selected-swatch-value="{{ option.name }}">
              {{- option.selected_value -}}
            </span>
          </legend>
          {% render 'product-variant-options'
            , product: product
            , option: option
            , block: block
            , picker_type: picker_type
          %}
        </fieldset>
      {%- elsif picker_type == 'button' -%}
        {% assign option_name = option.name %}
        {% if product.options.size == option.position %}
          {% if option_name == 'Letter' %}
            <div style="order:{{optionOrder}}" class=" product-form__input--size product-form__input--dropdown">
              <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                {{ option.name }}
                <span
                  data-optionvalue
                  id="update-for-{{ option_name }}"
                  data-selected-swatch-value="{{ option.name }}">
                  {{ option.selected_value }}
                </span>
              </label>
              <div class="select">
                <select
                  id="Option-{{ section.id }}-{{ forloop.index0 }}"
                  class="select__select"
                  name="options[{{ option.name | escape }}]"
                  form="{{ product_form_id }}">
                  {% render 'product-variant-options'
                    , product: product
                    , option: option
                    , block: block
                    , picker_type: 'dropdown'
                  %}
                </select>
                {% render 'icon-caret' %}
              </div>
            </div>
          {% else %}
            <div class="variant-wrapper" style="display: flex; justify-content: space-between; gap: 20px;">
              {% if false %}
                {{ whole_sale_toggle }}
              {% endif %}
              <style>
                @media screen and (max-width: 1250px) {

                  .labels-change-gap > div {
                    gap: 10px !important;
                  }
                }
              </style>

              <fieldset style="text-align:left;order:{{optionOrder}}; display:flex;" class="labels-change-gap js product-form__input product-form__input--pill">
                <legend class="form__label">
                  {{ option.name }}:
                  <span data-selected-swatch-value="{{ option.name }}">
                    {{ option.selected_value }}
                  </span>
                </legend>
                {% render 'product-variant-options'
                  , product: product
                  , option: option
                  , block: block
                  , picker_type: picker_type
                  , variant_images: variant_images
                %}
              </fieldset>
            </div>
          {% endif %}
        {% else %}
          {% if option_name == 'Letter' %}
            <div style="order:{{optionOrder}}" class=" product-form__input--size product-form__input--dropdown">
              <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                {{ option.name }}
                <span data-selected-swatch-value="{{ option.name }}">
                  {{ option.selected_value }}
                </span>
              </label>
              <div class="select">
                <select
                  id="Option-{{ section.id }}-{{ forloop.index0 }}"
                  class="select__select"
                  name="options[{{ option.name | escape }}]"
                  form="{{ product_form_id }}">
                  {% render 'product-variant-options'
                    , product: product
                    , option: option
                    , block: block
                    , picker_type: 'dropdown'
                  %}
                </select>
                {% render 'icon-caret' %}
              </div>
            </div>
          {% else %}
            <fieldset style="order:{{optionOrder}}" class="js product-form__input product-form__input--pill">
              <legend class="form__label">
                {{ option.name }}:
                <span data-selected-swatch-value="{{ option.name }}">
                  {{ option.selected_value }}
                </span>
              </legend>
              {% render 'product-variant-options'
                , product: product
                , option: option
                , block: block
                , picker_type: picker_type
                , variant_images: variant_images
              %}
            </fieldset>
          {% endif %}
        {% endif %}
      {%- else -%}
        <div class="product-form__input--dropdown">
          <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
            {{ option.name }}
          </label>
          <div class="select">
            {%- if picker_type == 'swatch_dropdown' -%}
              <span data-selected-dropdown-swatch="options[{{ option.name | escape }}]" class="dropdown-swatch">
                {% render 'swatch'
                  , swatch: option.selected_value.swatch
                  , shape: block.settings.swatch_shape %}
              </span>
            {%- endif -%}
            <select
              id="Option-{{ section.id }}-{{ forloop.index0 }}"
              class="select__select"
              name="options[{{ option.name | escape }}]"
              form="{{ product_form_id }}">
              {% render 'product-variant-options'
                , product: product
                , option: option
                , block: block
                , picker_type: picker_type
              %}
            </select>
            {% render 'icon-caret' %}
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}
    <script type="application/json">
      {{ product.variants | json }}
    </script>
  </variant-selects>
{%- endif -%}

<noscript class="product-form__noscript-wrapper-{{ section.id }}">
  <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
    <label class="form__label" for="Variants-{{ section.id }}">
      {{- 'products.product.product_variants' | t -}}
    </label>
    <div class="select">
      <select
        name="id"
        data-productid="{{ product.id }}"
        id="Variants-{{ section.id }}"
        class="select__select"
        form="{{ product_form_id }}">
        {%- for variant in product.variants -%}
          <option
            {% if variant == product.selected_or_first_available_variant %}
            selected="selected"
            {% endif %}
            {% if variant.available == false %}
            disabled
            {% endif %}
            value="{{ variant.id }}">
            {%- liquid
              echo variant.title
              echo variant.price | money | strip_html | prepend: ' - '
              if variant.available == false
                echo 'products.product.sold_out' | t | prepend: ' - '
              endif
              if variant.quantity_rule.increment > 1
                echo 'products.product.quantity.multiples_of' | t: quantity: variant.quantity_rule.increment | prepend: ' - '
              endif
              if variant.quantity_rule.min > 1
                echo 'products.product.quantity.minimum_of' | t: quantity: variant.quantity_rule.min | prepend: ' - '
              endif
              if variant.quantity_rule.max != null
                echo 'products.product.quantity.maximum_of' | t: quantity: variant.quantity_rule.max | prepend: ' - '
              endif
              # TODO: enable theme-check once `item_count_for_variant` is accepted as valid filter
              # theme-check-disable
              assign cart_quantity = cart | item_count_for_variant: variant.id
              # theme-check-enable
              if cart_quantity > 0
                echo 'products.product.quantity.in_cart_html' | t: quantity: cart_quantity | prepend: ' - '
              endif
            -%}
          </option>
        {%- endfor -%}
      </select>
      {% render 'icon-caret' %}
    </div>
  </div>
</noscript>