{% if product.selling_plan_groups.size > 0 %}

  <subscription-plans class="product__selling-plan">
    <input
      type="hidden"
      name="selling_plan"
      value=""
      form="{{ product_form_id }}"
      hidden>

    <h4>Delivery options</h4>
    <div class="product__selling-plan-container">
      <div>
        <input
          id="no-plan"
          type="radio"
          name="selling_plan_controller"
          value=""
          form="{{ product_form_id }}"
          hidden
          checked>
        <span class="product__selling-plan-radio-span"></span>
        <label for="no-plan">
          <span>{{ default_plan_message }}</span>
          <span>{{ product.selected_or_first_available_variant.price | money }}</span>
        </label>
      </div>
    </div>
    {% for plan in product.selling_plan_groups limit: 1 %}
      {% assign plan_label = plan.selling_plans.first.description | replace: "%", "<span style='font-family:gotu'>%</span>" %}
      {% assign perentage = plan.selling_plans.first.price_adjustments.first.value %}
      {% assign amount_to_substract = perentage | times: product.selected_or_first_available_variant.price | divided_by: 100.0 %}
      {% assign new_price = product.selected_or_first_available_variant.price | minus: amount_to_substract %}
      {% for variant in product.variants %}
          {% assign variant_amount_to_substract = perentage | times: variant.price | divided_by: 100.0 %}
          {% assign subscribtion_variant_price = variant.price | minus: variant_amount_to_substract %}
          <span style="display: none;" data-subscribed-price="{{ subscribtion_variant_price | money }}" data-variant-price="{{ variant.price | money }}" data-variant-id="{{ variant.id }}">{{ subscribtion_variant_price }}</span>
      {% endfor %}
      <div class="product__selling-plan-container">
        <div>
          <input  
            id="subscribed"
            type="radio"
            name="selling_plan_controller"
            value="{{ plan.selling_plans.first.id }}"
            form="{{ product_form_id }}"
            hidden>
          <span class="product__selling-plan-radio-span"></span>
          <label for="subscribed">
            <span>{{ plan_label }}</span>
            <span id="subscribed-label">{{ new_price | money }}</span>
          </label>
        </div>
        <style>
          div.product__selling-plan-select {
            display: flex;
            gap: 2.4rem;
          }
          .product__selling-plan-select button {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            padding: 12px 24px;
            outline: none;
            border: none;
            cursor: pointer;
            border: 1px solid rgba(176, 192, 195, 1);
            border-radius: 8px;
            transition: 300ms ease-in-out;
            background-color: #fff;
          }
          .product__selling-plan-select button:hover,
          .product__selling-plan-select button.active {
            background: #143338;
            color: white;
          }
        </style>
        <div style="display: none;" class="product__selling-plan-select">
          {% for discount in plan.selling_plans %}
            <button
              onclick="this.parentElement.querySelectorAll('button').forEach(item=>item.classList.remove('active'));this.classList.add('active');document.querySelector('select.product__selling-plan-select').value = {{ discount.id }};document.querySelector('select.product__selling-plan-select').dispatchEvent(new Event('change'));"
              {% if forloop.first %}
              class="active"
              {% endif %}>
              {{ discount.name }}
            </button>
          {% endfor %}
        </div>
        <select class="product__selling-plan-select">
          {% for discount in plan.selling_plans %}
            <option
              data-price_adjustments="{{ discount.price_adjustments.first.value }}"
              {% if forloop.first %}
              selected
              {% endif %}
              value="{{ discount.id }}">
              {{ discount.name }}
            </option>
          {% endfor %}
        </select>

      </div>
    {% endfor %}
  </subscription-plans>
{% endif %}
<!-- {{ product.selected_or_first_available_variant.price | minus: plan.price_adjustments[forloop.index0].value }} -->
<style>
  .product__selling-plan {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .product__selling-plan > h4 {
    padding: 0 0 16px;
    margin: 0;
    font-family: "faktum";
    font-size: 18px;
    font-weight: 500;
    line-height: 133.5%;
    text-align: left;
    color: rgba(17, 17, 17, 1);
  }
  .product__selling-plan > .product__selling-plan-container {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid rgba(161, 173, 175, 1);
    display: flex;
    padding: 18px 20px;
    flex-direction: column;
    align-items: start;
    gap: 2.4rem;
    transition-delay: 0;
    transition-duration: 200ms;
    transition-property: height;
    transition-timing-function: ease-in;
    position: relative;
  }
  .product__selling-plan-container > div {
    display: flex;
    align-items: center;
  }
  .product__selling-plan-container > * {
    width: 100%;
  }
  .product__selling-plan > div > div > span {
    width: 20px;
    height: 20px;
    border: 1px solid rgba(156, 177, 180, 1);
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    position: relative;
  }
  .product__selling-plan input:checked + span:after {
    background-color: rgba(7, 59, 67, 1);
  }
  .product__selling-plan select:focus-visible {
    box-shadow: none;
    outline: none;
    border-radius: 8px;
    border: 1px solid rgba(161, 173, 175, 1);
  }
  .product__selling-plan select {
    display: none;
    padding: 1.5rem 2rem;
    box-shadow: none;
    outline: none;
    border-radius: 8px;
    border: 1px solid rgba(161, 173, 175, 1);
    margin-top: 2rem;
    max-width: 270px;
    position: relative;
    z-index: 3;
  }
  .visible_select {
    display: block;
  }
  .product__selling-plan > div > div > span:after {
    content: "";
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: 1px;
    top: 1px;
    border-radius: calc(5px - 1px);
  }
  .product__selling-plan-container label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .product__selling-plan-container label:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* content: ""; */
    display: block;
    z-index: 2;
  }
  .product__selling-plan-wrapper {
    gap: 1rem;
  }
  .product__selling-plan-wrapper input {
    visibility: hidden;
    width: 0;
    display: none;
  }
  .product__selling-plan-wrapper label {
    font-family: 'faktum';
    max-width: 116px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    display: block;
    padding: 12px 24px;
    text-wrap: nowrap;
    border-radius: 8px;
    color: rgba(17, 17, 17, 1);
    border: 1px solid rgba(161, 173, 175, 1);
    cursor: pointer;
  }
  .product__selling-plan-wrapper input:checked + label {
    background-color: rgba(7, 59, 67, 1);
    color: white;
  }

</style>