<section class="bloomingoods__categories page-width">
  <div class="bloomingoods__categories-text-container">
    <h3>{{ section.settings.section_name | upcase }}</h3>
    <h2>{{ section.settings.heading }}</h2>
    <div class="">
      {{ section.settings.paragraph }}
    </div>
  </div>
  <ul>
    {% for block in section.blocks %}
      <li>
        <div class="bloomingoods__categories-category-image-container">
          <img
            src="{{ block.settings.image |  image_url: width: block.settings.image.width }}"
            alt="{{ block.settings.image.alt }}"
            height="{{ block.settings.image.height }}"
            width="{{ block.settings.image.width }}">
        </div>
        <a href="{{ block.settings.url }}">
          <div class="bloomingoods__categories-category-text-container">
            <h5>
              {{ block.settings.category_name }}
              {% render "bloomingoods__arrow" %}
            </h5>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
<style>
  .bloomingoods__categories {
    display: flex;
    flex-direction: column;
    background-color: rgba(245, 232, 213, 1);
    color: rgba(29, 59, 44, 1);
    padding: var(--padding-sides);
    padding-top: 92px;
    padding-bottom: 92px;
  }
  .bloomingoods__categories-text-container {
    display: flex;
    flex-direction: column;
  }
  .bloomingoods__categories-text-container h3 {
    font-family: Latienne Pro;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0 0 32px;
    color: rgba(29, 59, 44, 1);
  }
  .bloomingoods__categories-text-container h2 {
    font-family: Latienne Pro;
    font-size: 60px;
    font-weight: 400;
    line-height: 113%;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0 0 12px;
    color: rgba(29, 59, 44, 1);
  }
  .bloomingoods__categories-text-container div p {
    font-family: "filson";
    font-size: 16px;
    font-weight: 300;
    line-height: 125%;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0;
  }
  .bloomingoods__categories ul {
    margin: 60px 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .bloomingoods__categories ul li {
    width: calc(25% - 32px);
    position: relative;
  }
  .bloomingoods__categories ul li a {
    text-decoration: none;
  }
  .bloomingoods__categories ul li a::after {
    position: absolute;
    content: " ";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .bloomingoods__categories-category-image-container {
    width: 100%;
    aspect-ratio: 1 / 1;
  }
  .bloomingoods__categories-category-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .bloomingoods__categories-category-text-container h5 {
    font-family: Milanesa Serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 133%;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0;
    color: rgba(29, 59, 44, 1);
  }
  @media screen and (max-width: 1265px) {
    .bloomingoods__categories-category-text-container h5 {
      font-size: 18px;
    }
    .bloomingoods__categories-category-text-container h5 svg {
      width: 18px;
    }
  }
  @media screen and (max-width: 992px) {
    .bloomingoods__categories-text-container h2 {
      font-size: 48px;
    }

    .bloomingoods__categories ul {
      flex-wrap: wrap;
      gap: 10px;
      margin-top: 32px;
    }
    .bloomingoods__categories ul li {
      width: calc(50% - 10px);
    }
    .bloomingoods__categories-category-text-container h5 {
      font-size: 14px;
    }
    .bloomingoods__categories-category-text-container h5 svg {
      /* width: px; */
    }
  }
  @media screen and (max-width: 600px) {
    .bloomingoods__categories-text-container div p {
      font-size: 12px;
    }
    .bloomingoods__categories ul {
      margin-top: 16px;
    }
  }
  @media screen and (max-width: 500px) {
    .bloomingoods__categories-text-container div p {
      font-size: 10px;
    }
  }
  @media screen and (max-width: 390px) {
    .bloomingoods__categories ul {
      gap: 30px;
    }
    .bloomingoods__categories ul li {
      width: 100%;
    }

  }
</style>
{% schema %}
  {
    "name": "Bloomingoods categories",
    "settings": [
      {
        "type": "text",
        "label": "Section's name",
        "id": "section_name",
        "default": "PRODUCTS"
      }, {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Product Categories"
      }, {
        "type": "html",
        "id": "paragraph",
        "label": "Paragraph"
      }
    ],
    "blocks": [
      {
        "type": "category",
        "name": "Category",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Category cover image"
          }, {
            "type": "text",
            "id": "category_name",
            "label": "Category name"
          }, {
            "type": "url",
            "label": "Category collection page",
            "id": "url"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Bloomingoods categories"
      }
    ]
  }
{% endschema %}