{{ 'bloomingoods__features.css' | asset_url | stylesheet_tag }}

<section class="bloomingoods__features page-width">
  <div class="glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        {% for block in section.blocks %}
          <li>
            <div class="bloomingoods__feature-image-container">
              <img
                src="{{ block.settings.image |  image_url: width: block.settings.image.width }}"
                alt="{{ block.settings.image.alt }}"
                width="{{ block.settings.image.width }}"
                height="{{ block.settings.image.height }}"
                loading="lazy">
            </div>
            <div class="bloomingoods__feature-text-container">
              <h5>
                {{ block.settings.text }}
              </h5>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
<script type="module">
  const glide = new Glide(
    ".bloomingoods__features > .glide",
    {
      type: "slider",
      rewind: false,
      bound: true,
      perView: 5,
      breakpoints: {
        992: {
          perView: 3,
          gap: 50,
          autoplay: 5000
        },
        720: {
          perView: 2.5,
          autoplay: 5000

        },
        600: {
          focusAt: 0,
          perView: 1.5,
          autoplay: 5000

        },
      }
    }
  );

  glide.mount();

</script>

{% schema %}
  {
    "name": "Bloomingoods features",
    "settings": [],
    "blocks": [
      {
        "type": "feature",
        "name": "feature",
        "limit": 5,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "html",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Bloomingoods features"
      }
    ]
  }
{% endschema %}