<section class="bloomingoods__features page-width">

  <div class="glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        {% for block in section.blocks %}
          <li>
            <div class="bloomingoods__feature-image-container">
              <img
                src="{{ block.settings.image |  image_url: width: block.settings.image.width }}"
                alt="{{ block.settings.image.alt }}"
                width="{{ block.settings.image.width }}"
                height="{{ block.settings.image.height }}"
                loading="lazy">
            </div>
            <div class="bloomingoods__feature-text-container">
              <h5>
                {{ block.settings.text }}
              </h5>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
<script type="module">
  const glide = new Glide(
    ".bloomingoods__features > .glide",
    {
      type: "slider",
      rewind: false,
      bound: true,
      perView: 5,
      breakpoints: {
        992: {
          perView: 3,
          gap: 50
        },
        720: {
          perView: 2.5
        },
        600: {
          focusAt: 0,
          perView: 1.5
        },
      }
    }
  );

  glide.mount();

</script>
<style>
  .bloomingoods__features {
    background-color: rgba(29, 59, 44, 1);
    padding: 32px var(--padding-sides);
  }
  .bloomingoods__features ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .bloomingoods__features ul li {
    display: flex;
    max-width: 20%;
    gap: 16px;
  }
  .bloomingoods__features ul li .bloomingoods__feature-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bloomingoods__features ul li .bloomingoods__feature-text-container h5 {
    color: rgba(245, 232, 213, 1);
    font-family: Gentium Basic;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0;
    text-wrap: wrap;
  }
  @media screen and (max-width: 992px) {
    .bloomingoods__features ul {}
  .bloomingoods__features ul li {
  ;
  /* min-width: calc(50% - 190px); */
}
}
@media screen and (max-width: 820px) {
  .bloomingoods__features ul li {
  ;
  /* min-width: calc(50% - 170px); */
}
}
@media screen and (max-width: 720px) {
  .bloomingoods__features ul li {
  ;
  /* min-width: calc(50% - 150px); */
}
}
@media screen and (max-width: 660px) {
  .bloomingoods__features ul li {
  ;
  /* min-width: calc(50% - 120px); */
}
}
@media screen and (max-width: 600px) {
  .bloomingoods__features ul li {
  ;
  /* min-width: calc(50% - 90px); */
}
}
@media screen and (max-width: 530px) {
  .bloomingoods__features ul {
    padding-left: 5rem;
    gap: 2rem;


    /*
   padding-top: 2rem;
   padding-bottom: 2rem;
*/
  }
  .bloomingoods__features ul li {
  ;
  /* min-width: 100%; */
}
}
</style>
{% schema %}
  {
    "name": "Bloomingoods features",
    "settings": [],
    "blocks": [
      {
        "type": "feature",
        "name": "feature",
        "limit": 5,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "html",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Bloomingoods features"
      }
    ]
  }
{% endschema %}