<style>
  .lintext__experience-the-difference {
    --text-color: {{ section.settings.text_color }};
    --background-color: {{ section.settings.background_color }};
    --button-label-color: {{ section.settings.button_label_color }};
    --button-background: {{ section.settings.button_background }};
    --button-background-hover: {{ section.settings.button_background_hover }};
  }
</style>
{{ 'lintext__experience-the-difference.css' | asset_url | stylesheet_tag }}
<section class="page-width lintext__experience-the-difference">
  <div class="lintext__experience-the-difference_background-image">
    <img
      src="{{ section.settings.background | image_url: width: section.settings.background.width }}"
      alt="{{ section.settings.background.alt }}"
      width="{{ section.settings.background.width }}"
      height="{{ section.settings.background.height }}"
      loading="lazy"
    >
  </div>
  <div class="lintext__experience-the-difference_text">
    {% liquid
      assign heading = section.settings.heading
      assign heading_first_word = heading | split: ' ' | first
      assign heading_rest = heading | remove: heading_first_word
    %}
    <h2>
      <span class="lintext__experience-the-difference-h2-first">{{ heading_first_word }}</span>
      <span class="lintext__experience-the-difference-h2-rest">{{ heading_rest }}</span>
    </h2>
    <p>{{ section.settings.content }}</p>
    <a href="{{ section.settings.cta_url }}">{{ section.settings.cta_content | upcase }}</a>
  </div>
</section>
{% schema %}
{
  "name": "experience the difference",
  "settings": [
    {
      "type": "image_picker",
      "id": "background",
      "label": "background"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Section heading",
      "default": "Experience the Difference"
    },
    {
      "type": "text",
      "id": "content",
      "label": "Section text",
      "default": "Discover the luxury of Lintext and elevate your hosting experience to new heights. Whether you're hosting a lavish dinner party or an intimate gathering, our elegant disposables will add a touch of sophistication to any occasion. Indulge in the beauty of simplicity with Lintext—where elegance meets convenience."
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "Call to action button url"
    },
    {
      "type": "text",
      "id": "cta_content",
      "label": "Call to action button label",
      "default": "Get a Quote"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#F4F4F4"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#1A3748"
    },
    {
      "type": "color",
      "id": "button_background",
      "label": "Button background color",
      "default": "#D86752"
    },
    {
      "type": "color",
      "id": "button_background_hover",
      "label": "Button background color on hover",
      "default": "#1A3748"
    },
    {
      "type": "color",
      "id": "button_label_color",
      "label": "Button label color",
      "default": "#fff"
    }
  ],
  "presets": [
    {
      "name": "experience the difference"
    }
  ]
}
{% endschema %}
