<style>
  .lintext__product-features {
    --text-color: {{ section.settings.text_color }};
  }
</style>
{{ 'lintext__product-features.css' | asset_url | stylesheet_tag }}
<section class="page-width lintext__product-features ">
  <div class="lintext__product-features-background">
    <img 
      src="{{ section.settings.background | image_url: width: section.settings.background.width }}"
      alt="{{ section.settings.background.alt }}"
      width="{{ section.settings.background.width }}"
      height="{{ section.settings.background.height }}"
      loading="lazy"
    />
  </div>
  <div class="lintext__product-features-text-container">
    {{ section.settings.text }}
    <img
      src="{{ section.settings.logo | image_url: width: section.settings.logo.width }}"
      alt="{{ section.settings.logo.alt }}"
      width="{{ section.settings.logo.width }}"
      height="{{ section.settings.logo.height }}"
      loading="lazy"
    />
  </div>
  <ul class="lintext__product-features-icons">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'feature' %}
        <li>
          <img
            src="{{ block.settings.feature_icon | image_url: width: block.settings.feature_icon.width }}"
            alt="{{ block.settings.feature_icon.alt }}"
            width="{{ '80' }}"
            height="{{ '80' }}"
            loading="lazy"
          >
          <span class="lintext__feature-description">
            {{ block.settings.feature_description }}
          </span>
        </li>
      {% endcase %}
    {% endfor %}
  </ul>
</section>

{% schema %}
  {
    "name": "Lintext product features",
    "settings": [
      {
        "type": "image_picker",
        "id": "background",
        "label": "Background image"
      },
      {
        "type": "richtext",
        "id": "text",
        "default": "<h2>At Lintext, we have <br>a soft spot for small, <br>thoughtful touches.</h2>",
        "label": "Section text"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#fff"
      }
    ],
    "blocks": [
      {
        "type": "feature",
        "name": "feature",
        "limit": 5,
        "settings": [
          {
            "type": "image_picker",
            "id": "feature_icon",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "feature_description",
            "label": "Feature name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Lintext product features"
      }
    ]
  }
{% endschema %}