<style>
  .lintext__bestsellers {
    --background-color: {{ section.settings.background_color }};
    --text-color: {{ section.settings.text_color }};

  }
</style>
{{ 'lintext__bestsellers.css' | asset_url | stylesheet_tag }}
<section class="page-width lintext__bestsellers">
  <div class="lintext__bestsellers-text">
    <h2>{{ section.settings.heading }}</h2>
    <p>{{ section.settings.text }}</p>
  </div>
  <div class="lintext__bestsellers-products swiper">
    <div class="swiper-wrapper">
      {% if section.settings.collection != blank %}
        {% for product in section.settings.collection.products %}
          <div class="swiper-slide">
            {% render 'lintext__product-card', product: product, lintext_logo: section.settings.lintext_logo %}
          </div>
        {% endfor %}
      {% else %}
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'product' %}
              <div class="swiper-slide">
                {% render 'lintext__product-card',
                  product: block.settings.product,
                  lintext_logo: block.settings.lintext_logo
                %}
              </div>
          {% endcase %}
        {% endfor %}
      {% endif %}
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>

{% schema %}
{
  "name": "Lintext bestseller",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section heading",
      "default": "Bestsellers"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Explore our curated collection of premium-quality tableware and discover the perfect pieces to elevate every detail of your table setting with sophistication and style."
    },
    {
      "type": "image_picker",
      "id": "lintext_logo",
      "label": "Add Logo Image"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#1A3748"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "product",
      "limit": 6,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "product"
        },
        {
          "type": "image_picker",
          "id": "lintext_logo",
          "label": "Add Logo Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Lintext bestseller"
    }
  ]
}
{% endschema %}
