<style>
  .servietto__bestsellers {
    --background-color: {{ section.settings.background_color }};
    --text-color: {{ section.settings.text_color }};
  }

</style>
{{ "servietto_bestsellers.css" | asset_url | stylesheet_tag }}
{{ "global__product-card.css" | asset_url | stylesheet_tag }}
<section class="servietto__bestsellers">
  <h2 class="servietto__bestsellers-header" style="text-align: center; font-family: pp agrandir; font-weight: bold; font-size: 36px;">{{ section.settings.title }}</h2>
  <ul class="servietto__bestsellers_products">
    {% if section.settings.collection != blank %}
      {% for product in section.settings.collection.products %}
        {% render 'global__product-card'
          , product: product
          , section_id: section.id  %}
      {% endfor %}
    {% else %}
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'product' %}
            <li>
              {% render 'global__product-card'
                , product: block.settings.product
                , section_id: section.id %}
            </li>
        {% endcase %}
      {% endfor %}
    {% endif %}
  </ul>
</section>

<style>
  .servietto__bestsellers{
        padding: 50px var(--padding-sides) 70px var(--padding-sides)!important;
  }
  .servietto__bestsellers-header{
    text-align: center;
    margin-bottom: 2rem!important;
  }
  .servietto__bestsellers-header{
    font-family: pp agrandir;
    font-size: 35px;
    font-weight: 500;
  }
</style>


{% schema %}
  {
    "name": "Lintext bestsellers",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "header",
        "default": "Bestsellers"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "collection"
      },
      {
        "type": "text",
        "id": "subheader",
        "label": "subheader",
        "default": "Bestsellers"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#fff"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#1C363D"
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "product",
        "limit": 4,
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "product"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Lintext bestsellers"
      }
    ]
  }
{% endschema %}