{{ "naperee__contact-form.css" |  asset_url |  stylesheet_tag }}
<section class="page-width naperee_contact__form">
  <div class="naperee_contact__form-information">
    <div class="naperee_contact__form-information-top">
      <h6>
        {{ section.settings.top_text }}
      </h6>
      <h1>
        {% assign split_heading = section.settings.heading | split: " " %}
        {% for word in split_heading %}
          {% if word == "!" %}
            <span class="etna-exclamation-mark">
              {{- word -}}
            </span>
          {% else %}
            {{- word -}}
          {% endif %}
        {% endfor %}
      {% comment %} {{ section.settings.heading }} {% endcomment %}
      </h1>
    </div>
    <div class="naperee_contact__form-information-bottom">
      <div class="naperee_contact__information">
        <h6>Call us</h6>
        <a href="tel:{{ section.settings.phone_number }}">
          <p>{{ section.settings.phone_number }}</p>
        </a>
      </div>
      <div class="naperee_contact__information">
        <h6>Email us</h6>
        <a href="mailto:{{ section.settings.email }}">
          <p>{{ section.settings.email }}</p>
        </a>
      </div>
      <div class="naperee_contact__information">
        <h6>Address</h6>
          <p>{{ section.settings.address }}</p>
      </div>
    </div>
  </div>
  <div class="naperee_contact__form-form">
    <h2>Contact us</h2>
    {%- form 'contact'
      , id: 'ContactForm'
      , class: contact_form_class -%}
      {%- if form.posted_successfully? -%}
        <h2
          class="form-status form-status-list form__message"
          tabindex="-1"
          autofocus>
          {% render 'icon-success' %}
          {{ 'templates.contact.form.post_success' | t }}
        </h2>
      {%- elsif form.errors -%}
        <div class="form__message">
          <h2
            class="form-status caption-large text-body"
            role="alert"
            tabindex="-1"
            autofocus>
            {% render 'icon-error' %}
            {{ 'templates.contact.form.error_heading' | t }}
          </h2>
        </div>
        <ul class="form-status-list caption-large" role="list">
          <li>
            <a href="#ContactForm-email" class="link">
              {{ form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email }}
            </a>
          </li>
        </ul>
      {%- endif -%}
      <div class="contact__fields">
        <div class="field">
          <input
            class="field__input"
            autocomplete="name"
            type="text"
            id="ContactForm-name"
            name="contact[{{ 'templates.contact.form.name' | t }}]"
            value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
            placeholder="Enter your name">
          <label class="field__label" for="ContactForm-name">Enter your name</label>
        </div>
        <div class="field field--with-error">
          <input
            autocomplete="email"
            type="email"
            id="ContactForm-email"
            class="field__input"
            name="contact[email]"
            spellcheck="false"
            autocapitalize="off"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            aria-required="true"
            {% if form.errors contains 'email' %}
            aria-invalid="true"
            aria-describedby="ContactForm-email-error"
            {% endif %}
            placeholder="Enter your email">
          <label class="field__label" for="ContactForm-email">
            Enter your email
            <span aria-hidden="true">*</span>
          </label>
          {%- if form.errors contains 'email' -%}
            <small class="contact__field-error" id="ContactForm-email-error">
              <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
              <span class="form__message">
                {%- render 'icon-error' -%}
                {{- form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email -}}
              </span>
            </small>
          {%- endif -%}
        </div>
      </div>
      <div class="field">
        <input
          type="tel"
          id="ContactForm-phone"
          class="field__input"
          autocomplete="tel"
          name="contact[{{ 'templates.contact.form.phone' | t }}]"
          pattern="[0-9\-]*"
          value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
          placeholder="Enter your phone">
        <label class="field__label" for="ContactForm-phone">Enter your phone</label>
      </div>
      <div class="field">
        <textarea
          rows="10"
          id="ContactForm-body"
          class="text-area field__input"
          name="contact[{{ 'templates.contact.form.comment' | t }}]"
          placeholder="Enter your message">
          {{- form.body -}}
        </textarea>
        <label class="form__label field__label" for="ContactForm-body">
          Enter your message
        </label>
      </div>
      <div class="contact__button">
        <button type="submit" class="button">
          {{ 'templates.contact.form.send' | t }}
        </button>
      </div>
    {%- endform -%}
  </div>
</section>

{% schema %}
  {
    "name": "Naperee contact form",
    "settings": [
      {
        "type": "text",
        "id": "top_text",
        "label": "Section's top text",
        "default": "Get in Touch"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Section's heading",
        "default": "We would love to hear from you!"
      },
      {
        "type": "text",
        "id": "phone_number",
        "label": "Phone number",
        "default": "845-200-3344"
      },
      {
        "type": "text",
        "id": "email",
        "label": "Email",
        "default": "845-200-3344"
      }, {
        "type": "text",
        "id": "address",
        "label": "Address",
        "default": "New Hampton, NY, 10958"
      }
    ],
    "presets": [
      {
        "name": "Naperee contact form"
      }
    ]
  }
{% endschema %}