<style>
  {% if section.settings.image-right %}
    .naptec__half-image-half-text{
      flex-direction: row-reverse;
    }
  {% endif %}
</style>
{{ "naptec__half-image-half-text.css" | asset_url | stylesheet_tag }}
<section class="page-width color-scheme-1 naptec__half-image-half-text">
  <div class="naptec__half-image-wrapper">
    <img
      src="{{ section.settings.image | image_url: width: section.settings.image.width }}"
      width="{{ section.settings.image.width }}"
      height="{{ section.settings.image.height }}"
      alt="{{ section.settings.image.alt }}"
      loading="lazy"
    >
  </div>
  <div class="naptec__half-text-wrapper">
    <h2>{{ section.settings.header }}</h2>
    <div>
      {{ section.settings.content }}
    </div>
    {% if section.settings['image-bottom'] != blank %}
      <img
        src="{{ section.settings.image-bottom | image_url: width: section.settings.image-bottom.width }}"
        width="{{ section.settings.image-bottom.width }}"
        height="{{ section.settings.image-bottom.height }}"
        alt="{{ section.settings.image-bottom.alt }}"
        loading="lazy"
      >
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Half image half text",
  "settings": [{
    "type": "image_picker",
    "id": "image",
    "label": "Image of section"
  },
  {
    "type":"text",
    "id": "header",
    "label": "Section header",
    "default": "About Neptech"
  },
  {
    "type":"richtext",
    "id": "content",
    "label": "Section content"
  },
  {
    "type": "image_picker",
    "id": "image-bottom",
    "label": "Logo below content"
  },
    {
    "type": "checkbox",
    "id": "image-right",
    "label": "Image in right position",
    "default": false,
      "info": "Visible change only in desktop"
  }
  ],
  "presets": [{
    "name": "Half image half text"
  }]
}
{% endschema %}
