{{ "naptec__our-brands.css" | asset_url | stylesheet_tag }}
<section class="page-width color-scheme-2 naptec__our-brands" id="brands">
  <div class="naptec__our-brands-title">
    <h2>{{ section.settings.text }}</h2>
  </div>
  <div class="naptec__our-brands-list">
    <ul>
      {% for block in section.blocks %}
        {% case block.type %}
          {% when "brand" %}
            <li>
              <img
                style="opacity: 0;"
                class="naptec__our-brands-brand-background-image"
                src="{{ block.settings.image | image_url: width: block.settings.image.width }}"
                alt="{{ block.settings.image.alt }}"
                width="{{ block.settings.image.width }}"
                height="{{ block.settings.image.height }}"
                loading="lazy">
              <a href="{{ block.settings.url }}">
                <div class="naptec__our-brands-brand-logo-image">
                  <img
                    class=""
                    src="{{ block.settings.logo | image_url: width: block.settings.logo.width }}"
                    alt="{{ block.settings.logo.alt }}"
                    width="{{ block.settings.logo.width }}"
                    height="{{ block.settings.logo.height }}"
                    loading="lazy">
                  <div>
                    <p>{{ block.settings.brand_description }}</p>
                    <span>{{ block.settings.cta_label }}</span>
                  </div>
                </div>
              </a>

            </li>
        {% endcase %}
      {% endfor %}
    </ul>
  </div>
</section>
<script>
	document.addEventListener('DOMContentLoaded', () => {
		const linkSelector = '#HeaderMenu-our-brands';
		const targetClass = '.naptec__our-brands-title';
		const triggerLink = document.querySelector(`${linkSelector}`);
		const targetElement = document.querySelector(targetClass);

		if (!triggerLink) {
			return;
		}

		if (!targetElement) {
			return;
		}

		triggerLink.addEventListener('click', (event) => {
			event.preventDefault();
			if (typeof targetElement.scrollIntoView === 'function') {
				targetElement.scrollIntoView({behavior: 'smooth'});
			} else {
				window.scrollTo({
					top: targetElement.getBoundingClientRect().top + window.pageYOffset,
					behavior: 'smooth'
				});
			}
		});
	});
</script>
{% schema %}
  {
    "name": "Naptec brands",
    "settings": [
      {
        "type": "text",
        "id": "text",
        "label": "Text on left",
        "default": "Naptec Brands"
      }
    ],
    "blocks": [
      {
        "type": "brand",
        "name": "Brand",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Brand's logo"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Background image"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Brand's page url"
          },
          {
            "type": "text",
            "id": "brand_description",
            "label": "Brand Description",
            "default": "Bringing the unforgettable to the table"
          }, {
            "type": "text",
            "id": "cta_label",
            "label": "Cta Label",
            "default": "Visit the Website"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Naptec brands"
      }
    ]
  }
{% endschema %}