{{ "naptec__footer.css" | asset_url | stylesheet_tag }}
<section class="naptec__footer page-width color-scheme-1">
  <div class="naptec__footer-wrapper">
    <div class="naptec__footer-left">
      <div class="naptec__footer-icons">
        <img
          class="naptec__footer-logo"
          src="{{ settings.logo | image_url: width: settings.logo.width }}"
          width="{{ settings.logo.width }}"
          height="{{ settings.logo.height }}"
          alt="{{ settings.logo.alt }}"
          loading="lazy">
        {% render 'elegance-always' %}
      </div>
      <div class="naptec__contact">
        <h5>CONTACT</h5>
        <a href="tel:{{ section.settings.contact_number }}">{{ section.settings.contact_number }}</a>
        <a href="mailto:{{ section.settings.contact_email }}">{{ section.settings.contact_email }}</a>
      </div>
    </div>
    <div class="naptec__footer-right">
      <div class="naptec__footer-subscription-wrapper">
        <h3>{{ section.settings['text-above-subscription'] }}</h3>
        {%- form 'customer'
          , id: 'ContactFooter' -%}
          <input
            type="hidden"
            name="contact[tags]"
            value="newsletter,naptec">
          <div class="naptec__footer-subscription-input-container">
            <input
              id="NewsletterForm--{{ section.id }}"
              type="email"
              name="contact[email]"
              class=""
              value="{{ form.email }}"
              aria-required="true"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              {% if form.errors %}
              autofocus
              aria-invalid="true"
              aria-describedby="ContactFooter-error"
              {% elsif form.posted_successfully? %}
              aria-describedby="ContactFooter-success"
              {% endif %}
              placeholder="{{ 'newsletter.label' | t }}"
              required>

            <button
              type="submit"
              class="color-scheme-2"
              name="commit"
              id="Subscribe"
              aria-label="{{ 'newsletter.button_label' | t }}">
              {{ 'newsletter.button_label' | t }}
            </button>

          </div>
          {%- if form.posted_successfully? -%}
            <h3
              class="newsletter-form__message newsletter-form__message--success form__message"
              id="ContactFooter-success"
              tabindex="-1"
              autofocus>
              {% render 'icon-success' -%}
              {{- 'newsletter.success' | t }}
            </h3>
          {%- endif -%}
          {%- if form.errors -%}
            <small class="newsletter-form__message form__message" id="ContactFooter-error">
              {%- render 'icon-error' -%}
              {{- form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email -}}
            </small>
          {%- endif -%}
        {%- endform -%}
      </div>
      <div class="naptec__footer-links-container">
        <ul class="naptec__footer-links">
          {% for link in section.settings.link_list_1.links %}
            <li class="naptec__footer-list-item">
              <a href="{{ link.url }}">
                {{ link.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
        <ul class="naptec__footer-links">
          {% for link in section.settings.link_list_2.links %}
            <li class="naptec__footer-list-item">
              <a href="{{ link.url }}">
                {{ link.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="naptec__footer-copy-right">
    <p>{{ section.settings['all-rights-reserved'] }}</p>
    <p>{{ section.settings.copyright }}</p>
  </div>
</section>
<style>
  .naptec__footer {
    background-color: {{ section.settings.background_color }};
  }
  .naptec-footer-wrapper-bg {
    background-color: {{ section.settings.background_color }};
  }
</style>
{% schema %}
  {
    "name": "Naptec footer",
    "class": "naptec-footer-wrapper-bg",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "rgb(7, 59, 67)"
      },
      {
        "type": "text",
        "id": "contact_number",
        "label": "Contact number"
      },
      {
        "type": "text",
        "id": "contact_email",
        "label": "Contact email"
      },
      {
        "type": "link_list",
        "id": "link_list_1",
        "label": "Link list 1"
      }, {
        "type": "link_list",
        "id": "link_list_2",
        "label": "Link list 2"
      }, {
        "type": "text",
        "id": "all-rights-reserved",
        "label": "All rights reserved",
        "default": "Copyright © 2024 All right reserved."
      }, {
        "type": "text",
        "id": "copyright",
        "label": "Copy rights by",
        "default": "Copyright by NaptecPaper.com"
      }, {
        "type": "text",
        "id": "text-above-subscription",
        "label": "Text above subscription input",
        "default": "Get our news straight to your inbox"
      }
    ],
    "presets": [
      {
        "name": "Naptec footer"
      }
    ]
  }
{% endschema %}